$primary-color: #1976d2;

.checkboxLabel {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;

  .checkboxInputHover {
    padding: 6px;
    border-radius: 50%;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(#1976d2, 0.1);
    }
  }
}
